* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
}
#light {
  width: 200px;
  height: 300px;
  margin-bottom: 50px;
  background-image: url(../imgs/Light_Off.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#light.active {
  background-image: url(../imgs/Light_On.png);
}
#toggle {
  position: relative;
  display: block;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  background-color: #504d4d;
  transition: 0.5s;
  cursor: pointer;
}
#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #121212;
  border-radius: 50%;
  transform: scale(0.9);
  transition: 0.5s;
}
#toggle.active .indicator {
  left: 50px;
  background-color: whitesmoke;
}
